/* horny cierny pruh */
.top-bar {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
}

#name-of-shop {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/* ked je sirka okna mensia ako 400px, upravime to aby to nezasahovalo do nadpisov */
@media (max-width: 690px) {
    /* 1) zrusime absolutnu poziciu nadpisu, aby bol v normalon flow */
    #name-of-shop {
        position: static;
        transform: none;
        margin-bottom: 0.5rem; /* trocha medzery pod nadpisom */
    }

    /* 2) horny navbar na slpcovy layourt*/
    nav.navbar.d-flex {
        flex-direction: column;
        align-items: center;
    }

    /* 3) Centerujeme linky a posunieme ich pod nadpis */
    nav.navbar .container-fluid {
        order: 2;                  /* zobrazí sa až po #name-of-shop */
        justify-content: center;   /* centrovanie položiek */
        width: 100%;
    }
}



/* hlavny navbar */
.navbar {
    border-bottom: 1px solid #ddd;
}



/* ********* Uprava ODKAZOV ********* */
/*aby mali odkazy v menu rovnaku farbu*/
.menu-item {
    color: #6c757d; /* Bootstrap sivá */
    font-weight: normal;
    transition: color 0.1s ease-in-out;
    display: flex;
    align-items: center;
}


/*aktivna polozka v menu je cierna*/
.menu-item.active {
    font-weight: bold;
    color: black;
}

.menu-item.strong-active {
    color:white;
    background-color: black;
}

.navbar-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px
}

.offcanvas .nav-link {
    color: #6c757d;
    font-weight: normal;
}

.offcanvas .nav-link.active{
    font-weight: bold;
    color: black;
}

/* ********* KONIEC ODKAZOV ********* */




/*polozky v menu*/
.menu-item:hover {
    color: #343a40; /* tmava siva */
}




.nav-textfield {
    width: 150px;
    height: 30px;
    border: none;
    background-color: transparent;
}


/* FOOTER */
footer {
    background-color: black; /* Light green */
    text-align: center;
    padding: 0.2rem;
    /*margin-top: 0.2rem;*/
    height: 2rem;
    color:white;
}