html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.login-container {
    max-width: 400px;
    margin: 1rem auto;
    background-color: #f3f6f9;
    padding: 1rem;
    text-align: center;
}

.login-container h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #888;
    font-size: 16px;
    background-color: white;
}

.stay-logged-in {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 2rem;
    text-align: left;
}

.stay-logged-in input[type="checkbox"] {
    margin-right: 0.5rem;
    width: 16px;
    height: 16px;
}

.login-container .btn {
    width: 100%;
    padding: 1rem;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
    background-color: black;
    color: white;
}

.login-container .register-text {
    color: #888;
    font-size: 14px;
    margin: 0.1rem 0;
}

.login-container .admin-login {
    margin-top: 3rem;
}
